{% extends 'dashboard_base.html' %}

{% load staticfiles custom_filters %}

{% block content %}
    <style type="text/css">
        .torrent-row-toggle {
            color: #333;
        }
    </style>
    <div id="content-header">
        <h1>Torrent List</h1>
    </div>
    <div id="breadcrumb">
        <a href="#" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i> Home</a>
        <a href="#" class="current">Torrent List</a>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="fa fa-arrow-down"></i></span>
                        <h5>Torrent List</h5>
                    </div>
                    <div class="widget-content nopadding">
                        {% include 'torrent_list/torrent_list.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_scripts %}
    <script>
        $('.torrent-row-toggle').click(function (e) {
            e.preventDefault();
            var $this = $(this);
            $this.parents('.torrent-row').nextUntil('.torrent-row').toggle();
        })
    </script>
{% endblock %}
