{% load staticfiles custom_filters %}

<table class="table table-bordered table-hover" data-torrent-count="{{ torrents|length }}">
    <thead>
    <tr>
        <th class="col-actions" style="width: 120px">Manage</th>
        <th>Name</th>
        <th>Error</th>
    </tr>
    </thead>

    <tbody>
    {% for t in torrents %}
        <tr class="danger">
            <td>
                {% if t|type_name == 'TransTorrent' %}
                    {% if t.torrent_done == 1 %}
                        <a href="{% url 'download:download_zip' t.what_torrent_id %}"><i class="fa fa-download" style="margin:2px"></i></a>
                        <a href="javascript: playWhat({{ t.what_torrent_id }}); void(0);"><i class="fa fa-play-circle" style="margin:2px"></i></a>
                    {% else %}
                        downloading
                    {% endif %}
                    <a href="{{ t.what_torrent_id|what_cd_torrent_link }}" target="_blank"><i class="fa fa-external-link" style="margin:2px"></i></a>
                    <a href="{% url 'download:delete_torrent' t.what_torrent_id %}" onclick="return confirm('Are you sure you want to delete this torrent and all its data?')">
                        <i class="fa fa-trash-o" style="margin:2px; color:red"></i>
                    </a>
                {% elif t|type_name == 'BibliotikTransTorrent' %}
                    <a href="{{ t.bibliotik_torrent_id|bibliotik_torrent_link }}" target="_blank"><i class="fa fa-external-link" style="margin:2px"></i></a>
                    {% if t.torrent_done == 1 %}
                        <a href="{% url 'download:download_bibliotik_zip' t.bibliotik_torrent_id %}"><i class="fa fa-download" style="margin:2px"></i></a>
                    {% else %}
                        downloading
                    {% endif %}
                {% endif %}
            </td>

            <td>
                {% if t|type_name == 'TransTorrent' %}
                    {% with what_torrent=t.what_torrent %}
                        {% include 'home/torrent_info_cell.html' %}
                    {% endwith %}
                {% elif t|type_name == 'BibliotikTransTorrent' %}
                    {% with bibliotik_torrent=t.bibliotik_torrent %}
                        {% include 'bibliotik/torrent_info_cell.html' %}
                    {% endwith %}
                {% endif %}
            </td>

            <td>
                {{ t.torrent_error_string }}<br/>
                {{ t.instance }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>