{% load custom_filters %}

{% if perms.home.view_transinstance_stats %}
    {% for set in stats %}
        <div class="row row-flex">
            <div class="col-md-3">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="fa fa-info-circle"></i></span>
                        <h5>Site Statistics ({{ set.zone }})</h5>
                    </div>
                    <div class="widget-content">
                        <ul class="site-stats">
                            <li>
                                <i class="fa fa-arrow-right"></i>
                                <strong>{{ set.set.activeTorrentCount }}</strong>
                                <small>Total torrents</small>
                            </li>
                            <li>
                                <i class="fa fa-arrow-right"></i>
                                <strong>{{ set.set.totalUploadedBytes|filesizeformat }}</strong>
                                <small>Total uploaded</small>
                            </li>
                            <li>
                                <i class="fa fa-arrow-right"></i>
                                <strong>{{ set.set.totalDownloadedBytes|filesizeformat }}</strong>
                                <small>Total downloaded</small>
                            </li>
                            <li>
                                <i class="fa fa-arrow-right"></i>
                                <strong>{{ set.set.totalSecondsActive|timeformat }}</strong>
                                <small>Total seconds</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="fa fa-info-circle"></i></span>
                        <h5>Speeds ({{ set.zone }})</h5>
                    </div>
                    <div class="widget-content">
                        <ul class="site-stats">
                            <li>
                                <i class="fa fa-arrow-right"></i>
                                <strong>{{ set.set.uploadSpeed|filesizeformat }}</strong>
                                <small>Upload Speed</small>
                            </li>
                            <li>
                                <i class="fa fa-arrow-right"></i>
                                <strong>{{ set.set.downloadSpeed|filesizeformat }}</strong>
                                <small>Download Speed</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="fa fa-info-circle"></i></span>
                        <h5>Session Statistics ({{ set.zone }})</h5>
                    </div>
                    <div class="widget-content">
                        <ul class="site-stats">
                            <li>
                                <i class="fa fa-arrow-right"></i>
                                <strong>{{ set.set.uploadedBytes|filesizeformat }}</strong>
                                <small>Session uploaded</small>
                            </li>
                            <li>
                                <i class="fa fa-arrow-right"></i>
                                <strong>{{ set.set.downloadedBytes|filesizeformat }}</strong>
                                <small>Session downloaded</small>
                            </li>
                            <li>
                                <i class="fa fa-arrow-right"></i>
                                <strong>{{ set.set.secondsActive|timeformat }}</strong>
                                <small>Session seconds</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% for set in stats %}
        <div class="row">
            <div class="col-md-3">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="fa fa-info-circle"></i></span>
                        <h5>Torrent Counts / Instance ({{ set.zone }})</h5>
                    </div>
                    <div class="widget-content">
                        <ul class="site-stats">
                            {% for i in set.instances %}
                                <li>
                                    <i class="fa fa-arrow-right"></i>
                                    <strong>{{ i.activeTorrentCount }}</strong>
                                    <small>{{ i.instance_name }}</small>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="fa fa-info-circle"></i></span>
                        <h5>Upload Speed / Instance ({{ set.zone }})</h5>
                    </div>
                    <div class="widget-content">
                        <ul class="site-stats">
                            {% for i in set.instances %}
                                <li>
                                    <i class="fa fa-arrow-right"></i>
                                    <strong>{{ i.uploadSpeed|filesizeformat }}</strong>
                                    <small>{{ i.instance_name }}</small>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="fa fa-info-circle"></i></span>
                        <h5>Download Speed / Instance ({{ set.zone }})</h5>
                    </div>
                    <div class="widget-content">
                        <ul class="site-stats">
                            {% for i in set.instances %}
                                <li>
                                    <i class="fa fa-arrow-right"></i>
                                    <strong>{{ i.downloadSpeed|filesizeformat }}</strong>
                                    <small>{{ i.instance_name }}</small>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="row">
        <div class="col-md-12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="fa fa-info-circle"></i></span><h5>No permission</h5>
                </div>
                <div class="widget-content">
                    You don't have permission to view stats.
                </div>
            </div>
        </div>
    </div>
{% endif %}
