{% load custom_filters %}

<div>
    <b>
        {% if what_torrent.info_loads.group.categoryName == "Music" %}
            {{ what_torrent.info_artist }} - {{ what_torrent.info_title }}
            [{{ what_torrent.info_year }}]
            [{{ what_torrent.info_release_type_name }}]
        {% elif what_torrent.info_loads.group.categoryName == "E-Books" %}
            [E-Books]
            {{ what_torrent.info_title }}
        {% else %}
            [Unknown Type] {{ what_torrent.info_title }}
        {% endif %}
    </b>
</div>

<div style="float:right;">
    {% if what_torrent.info_loads.group.categoryName == "Music" %}
        {% if what_torrent.info_has_artwork %}
            <span class="label label-default show-tooltip" data-toggle="tooltip" style="cursor: pointer;"
                  data-original-title="{{ what_torrent.info_image_files|tooltip_files_table }}">
            +ARTWORK
            </span>&nbsp;
        {% endif %}
        {{ what_torrent.info_media }} /
        {{ what_torrent.info_format }} /
        {{ what_torrent.info_encoding }} /
        {{ what_torrent.info_size|filesizeformat }}
    {% elif what_torrent.info_loads.group.categoryName == "E-Books" %}
        {{ what_torrent.info_size|filesizeformat }}
    {% else %}
        {{ what_torrent.info_size|filesizeformat }}
    {% endif %}
</div>

<div>
    {% if what_torrent.info_loads.group.categoryName == "Music" %}
        {% if what_torrent.info_label %}
            <span class="sep">|</span>
            {{ what_torrent.info_label }}
        {% endif %}

        {% if what_torrent.info_catno %}
            <span class="sep">|</span>
            {{ what_torrent.info_catno }}
        {% endif %}

        {% if what_torrent.info_remaster_title %}
            <span class="sep">|</span>
            {{ what_torrent.info_remaster_title }}
        {% endif %}
    {% elif what_torrent.info_loads.group.categoryName == "E-Books" %}
        {{ what_torrent|torrent_files }}
    {% endif %}
</div>
