{% extends 'dashboard_base.html' %}

{% load staticfiles custom_filters %}

{% block content %}
    <div id="content-header">
        <h1>Userscripts</h1>
    </div>
    <div id="breadcrumb">
        <a href="{% url 'home:dashboard' %}" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i> Home</a>
        <a href="#" class="current">Userscripts</a>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="fa fa-th-large"></i></span>
                        <h5>Userscripts</h5>
                    </div>
                    <div class="widget-content">
                        <p>
                            <a href="{% url 'userscript:whatcd' %}">What.CD Integration</a>
                        </p>

                        <p>
                            <a href="{% url 'userscript:overdrive' %}">OverDrive Searching</a>
                        </p>

                        <p>
                            <a href="{% url 'userscript:bibliotik' %}">Bibliotik Integration</a>
                        </p>

                        <p>
                            <a href="{% url 'userscript:myanonamouse' %}">MyAnonaMouse Integration</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_scripts %}
    {{ block.super }}

    {% include 'dashboard_search_redirect.html' %}
{% endblock %}
