language: python
python:
  - "2.7"
services:
  - "mysql"
install:
  - "pip install -r test_requirements.txt"
  - "pip install -r requirements.txt"
  - "./setup_transmission-2.84.sh"
  - "./ci_setup.sh"
  - "mysql -e 'CREATE DATABASE `what_manager2` COLLATE utf8_unicode_ci;'"
  - "cp WhatManager2/settings.example.py WhatManager2/settings.py"
  - "cp bibliotik/settings.example.py bibliotik/settings.py"
  - "cp myanonamouse/settings.example.py myanonamouse/settings.py"
  - "./manage.py migrate --noinput"
  - "sudo -- bash -c 'source /home/travis/virtualenv/python2.7/bin/activate && ./manage.py transmission_new --no-confirm what.cd'"
  - "sudo -- bash -c 'source /home/travis/virtualenv/python2.7/bin/activate && ./manage.py transmission_new --no-confirm bibliotik.org'"
script:
  - "flake8 ."
  - "./manage.py test"
  - "./test_integration.py"
