[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
yapf = "*"
rope = "*"

[packages]
django = "*"
django-bootstrap-form = "*"
ujson = "*"
mutagen = "*"
requests = "*"
transmissionrpc = "*"
pyquery = "*"
bencode-py = "*"
celery = "*"
numpy = "*"
pillow = "*"
imgurpython = "*"
sqlparse = "*"
html2bbcode = "*"
mod-wsgi-httpd = "*"
mod-wsgi = "*"
mysqlclient = "*"

[requires]
python_version = "3.6"
