<div class="artist-details-page">
    <div artist-info artist="artist"></div>

    <div ng-repeat="torrentGroup in artist.torrent_groups.Album">
        <div album-info torrent-group="torrentGroup" size="150" link-title="l"></div>
        <div album-playlist torrent-group="torrentGroup" ng-if="torrentGroup.have === true"></div>
    </div>

    <p>
        <a class="btn btn-whatify" target="_blank"
           ng-href="https://what.cd/artist.php?id={{ artist.id }}">
            View on What.CD
        </a>
        <a class="btn btn-whatify" href ng-click="reloadArtist(true, true)">
            Refresh Data
        </a>
    </p>
</div>
