<div class="artist-details-page">
    <div artist-info artist="artist" size="250"></div>

    <div ng-repeat="category in artist.categories">
        <h2>{{ category.name }}</h2>

        <div ng-repeat="torrentGroup in category.torrent_groups">
            <div album-info torrent-group="torrentGroup" size="176" link-title></div>
            <div class="unindent" album-playlist torrent-group="torrentGroup"
                 ng-if="torrentGroup.have === true"></div>
        </div>
    </div>

    <p>
        <a class="btn btn-whatify" target="_blank"
           ng-href="https://what.cd/artist.php?id={{ artist.id }}">
            View on What.CD
        </a>
        <a class="btn btn-whatify" href ng-click="reloadArtist(true, true, true)">
            Refresh Data
        </a>
    </p>
</div>
