<div class="torrent-group-details-page">
    <img class="title-cover" ng-src="{{ torrentGroup.wiki_image }}">

    <div class="title-info">
        <div class="title-name">{{ torrentGroup.name }}</div>

        <div class="title-artists">
            <span class="by">by</span>
            <span artist-list artists="torrentGroup.artists"></span>
        </div>

        <div class="title-year">{{ torrentGroup.year }}</div>

        <div class="title-buttons">
            <span ng-if="torrentGroup.playlist">
                <span class="btn btn-success btn-playpause"
                      ng-click="playTorrentGroup(torrentGroup.id)"
                      ng-if="!player.isPlaying">
                    <span class="glyphicon glyphicon-play"></span>
                    Play
                </span>
                <span class="btn btn-success btn-playpause"
                      ng-click="player.pause()"
                      ng-if="player.isPlaying">
                    <span class="glyphicon glyphicon-pause"></span>
                    Pause
                </span>
            </span>
            <span class="btn btn-default"
                  ng-click="downloadTorrentGroup(torrentGroup.id)"
                  ng-if="!torrentGroup.playlist && !torrentGroup.have">download</span>
            <div style="width: 300px;" ng-if="torrentGroup.have">
                <div percentage-progress-bar ng-model="torrentGroup.have * 100"></div>
            </div>
        </div>
    </div>

    <table class="clearfix table playlist" ng-if="torrentGroup.playlist">
        <thead>
        <tr>
            <td class="col-number"></td>
            <td>Track</td>
            <td class="col-duration"><span class="glyphicon glyphicon-time"></span></td>
        </tr>
        </thead>
        <tbody>
        <tr class="clickable" ng-repeat="item in torrentGroup.playlist"
            ng-click="playTorrentGroup(torrentGroup.id, $index)">
            <td class="col-number">
                <span ng-show="playlist.currentItem.id == item.id">
                    <span class="glyphicon glyphicon-play" ng-show="player.isPlaying"></span>
                    <span class="glyphicon glyphicon-pause" ng-show="!player.isPlaying"></span>
                </span>
                {{ $index + 1 }}
            </td>
            <td>
                {{ item.metadata.title }}
            </td>
            <td class="col-duration">
                {{ item.metadata.duration | asTime }}
            </td>
        </tr>
        </tbody>
    </table>

    <p ng-bind-html="torrentGroup.wiki_body | trustAsHtml">
    </p>

    <p>
        <a class="btn btn-whatify" target="_blank"
           ng-href="https://what.cd/torrents.php?id={{ torrentGroup.id }}">
            View on What.CD
        </a>
        <a class="btn btn-whatify" href ng-click="reloadTorrentGroup(true)">
            Refresh Data
        </a>
    </p>
</div>
