<input type="text" class="form-control" ng-model="searchQuery" ng-change="search()"
       placeholder="Search Here">
<br>
<div style="position: absolute; background: red; max-height: calc(100% - 200px); overflow: scroll;"
     ng-show="showResults">
    <div style="display: inline-block; width: 600px; vertical-align: top;">
        Results:
        <div class="thumbnail" target="_blank"
             ng-repeat="result in searchResults" ng-switch="result.type">
            <div ng-switch-when="artist">
                <a ng-href="#/artists/{{ result.artist.id }}" ng-click="hideResults()">
                    Artist: {{ result.artist.name }}
                </a>
            </div>
            <div ng-switch-when="torrent_group">
                <!--<img ng-src="{{ result.torrent_group.wiki_image }}">-->

                <div class="caption">
                    <span ng-click="playTorrentGroup(result.torrent_group.id)"
                          class="btn btn-default btn-xs">&#9654;</span>
                    <a ng-href="#/torrentGroups/{{ result.torrent_group.id }}"
                       ng-click="hideResults()">
                        Album: {{ result.torrent_group.name }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
