<input type="text" placeholder="Search Here" class="form-control" ng-model="searchQuery"
       ng-change="search()" ng-focus="showResults()">
<div class="search-results">
    <ul>
        <li class="inactive">Results</li>
        <li ng-repeat="result in searchResults" ng-switch="result.type">
            <a ng-switch-when="artist" ng-href="#/artists/{{ result.artist.id }}"
               ng-click="hideResults()">
                Artist: {{ result.artist.name }}
            </a>

            <a ng-switch-when="torrent_group"
               ng-href="#/torrentGroups/{{ result.torrent_group.id }}"
               ng-click="hideResults()">
                Album: {{ result.torrent_group.name }}
            </a>
        </li>
    </ul>
</div>
