{% extends 'dashboard_base.html' %}

{% load staticfiles custom_filters %}

{% block content %}
    <div id="content-header">
        <h1>Queue</h1>
    </div>
    <div id="breadcrumb">
        <a href="#" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i> Home</a>
        <a href="{% url 'wmqueue:index' %}" class="current"><i class="fa fa-list-alt"></i> Queue</a>
    </div>
    <div class="container-fluid">
        {% if perms.wmqueue.view_queueitem %}
            <div class="row row-flex wrap">
                {% include 'wmqueue/part/queue_stats.html' %}
                {% include 'home/part/location_stats.html' %}
                {% include 'wmqueue/part/queue_pop.html' %}
            </div>

            {% include 'home/part/downloading_torrents.html' %}

            {% include 'home/part/recently_downloaded.html' %}
        {% else %}
            <div class="row row-flex">
                <div class="col-md-12">
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon"><i class="fa fa-info-circle"></i></span>
                            <h5>No permission</h5>
                        </div>
                        <div class="widget-content">
                            You don't have permission to view the queue.
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block body_scripts %}
    {{ block.super }}

    {% include 'dashboard_search_redirect.html' %}
{% endblock %}
