{% load custom_filters %}
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nick</th>
                            <th>Name</th>
                            <th>Size</th>
                            <th></th>
                            <th></th>
                            <th>Status</th>
                        </tr>
                    </thead>

                    <tbody>
                    </tbody>

                    {% for t_r in requests %}
                        <tr data-what-id="{{ t_r.what_torrent_id }}" class="
                                                {% if t_r.show_retry_button %}danger
                                                {% else %}info
                                                {% endif %}
                                            ">
                            <td width="150">
                                <a href="https://what.cd/torrents.php?torrentid={{ t_r.what_torrent_id }}" target="_blank">
                                [what.cd: {{ t_r.what_torrent_id }}]
                                </a>
                            </td>
                            <td>
                                {{ t_r.requested_by_what_user }}
                            </td>
                            <td>
                                {{ t_r.what_torrent.joined_artists }}
                                -
                                {{ t_r.what_torrent.info_loads.group.name|safe }}
                                {% if t_r.what_torrent.info_loads.torrent.remastered and t_r.what_torrent.info_loads.torrent.remasterYear != t_r.what_torrent.info_loads.group.year %}
                                    - {{ t_r.what_torrent.info_loads.torrent.remasterYear }}
                                    ({{ t_r.what_torrent.info_loads.group.year }})
                                {% else %}
                                    - {{ t_r.what_torrent.info_loads.group.year }}
                                {% endif %}
                            </td>
                            <td width="70">
                                {{ t_r.what_torrent.info_loads.torrent.size|filesizeformat }}
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger button-delete">Delete</button>
                            </td>
                            <td>
                                {% if t_r.show_retry_button %}
                                    <button type="button" class="btn btn-primary button-retry">Retry</button>
                                {% endif %}
                            </td>
                            <td>
                                {{ t_r.status|linebreaksbr }}
                            </td>
                        </tr>
                    {% endfor %}

                </tbody>

