{% extends 'dashboard_base.html' %}

{% load staticfiles custom_filters %}

{% block content %}
<div id="content-header">
    <h1>Transcode</h1>
</div>
<script type="text/javascript"
        src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{% static 'js/unicorn.dashboard.js' %}"></script>


<div class="container-fluid">
    <div class="row" id="transcodes">
        <div class="col-md-3">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="fa fa-user"></i></span><h5>User</h5>
                </div>
                <div class="widget-title">
                <h5>IP: {{ request.META.REMOTE_ADDR }}</h5>
                </div>
                <div class="widget-title">
                <h5>What user: {{ what_user }}</h5>
                </div>
                
            </div>
        </div>
    {% if allow_request %}
        <div class="col-md-6">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="fa fa-plus"></i></span><h5>Transcode</h5>
                </div>
                <div class="widget-content" style="text-align: right;">
                    <form class="form-inline">
                        <p>
                            <input id="request-what-id" type="text" class="form-control" placeholder="Paste TorrentID here" />
                        </p>
                        <button type="button" class="btn btn-primary" id="btn-request">Request</button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
    </div>
    <div class="row" id="row_transcodes">
        <div class="col-md-12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="fa fa-list"></i></span><h5>Transcodes</h5>
                </div>
                <div class="widget-content nopadding">
                    <table class="table table-bordered table-hover" id="status-table">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block body_scripts %}
<script>
    function reloadStatusTable() {
        $('#status-table').load('{% url 'what_transcode.views.status_table' %}', function () {
            $('#status-table .button-retry').click(function () {
                $this = $(this);
                var what_id = $this.parents('tr').data('what-id');

                $.post('{% url 'what_transcode.views.request_retry' %}', {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'what_id': what_id
                }, function (data) {
                    alert(data.message);

                    $('#btn-request').attr('disabled', false);
                    $('#request-what-id').attr('disabled', false).val('');
                }, 'json');
            });
            $('#status-table .button-delete').click(function () {
                if(confirm('Are you sure you want to remove this torrent from the transcode queue?')) {
                    $this = $(this);
                    var what_id = $this.parents('tr').data('what-id');
                    $.post('{% url 'what_transcode.views.request_delete' %}', {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'what_id': what_id
                    }, function (data) {
                        alert(data.message);
                        $('#btn-delete').attr('disabled', false);
                        $('#request-what-id').attr('disabled', false).val('');
                    }, 'json');
                }
            });
        });
    }
    setInterval(reloadStatusTable, 5000);
    reloadStatusTable();

    $('#request-what-id').on('input', function () {
        var id = getWhatId($(this).val());
        if (id) {
            $(this).val(id);
        }
    })

    $('#btn-request').click(function () {
        $('#btn-request').attr('disabled', true);
        $('#request-what-id').attr('disabled', true);

        $.post('{% url 'what_transcode.views.request_transcode' %}', {
            'csrfmiddlewaretoken': '{{ csrf_token }}',
            'what_id': $('#request-what-id').val()
        }, function (data) {
            alert(data.message);

            $('#btn-request').attr('disabled', false);
            $('#request-what-id').attr('disabled', false).val('');
        }, 'json');
    })
</script>
{% endblock %}
