<div class="row">
    <div class="col-md-12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"><i class="fa fa-picture-o"></i></span>
                <h5>Generated Description</h5>
            </div>
            <div class="widget-content">
                <textarea class="form-control" style="height: 300px;"
                        >{{ upload.upload.metadata.gen_description }}</textarea>
            </div>
        </div>
    </div>
</div>
