{% extends 'dashboard_base.html' %}

{% load staticfiles custom_filters bootstrap %}

{% block content %}
    <div id="content-header">
        <h1>New Upload</h1>
    </div>
    <div id="breadcrumb">
        <a href="#" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i> Home</a>
        <a href="{% url 'qobuz2:index' %}">Qobuz Uploads</a>
        <a href="{% url 'qobuz2:new_upload' %}" class="current">New Upload</a>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="fa fa-info-circle"></i></span>
                        <h5>Qobuz Album</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <form action="{% url 'qobuz2:new_upload' %}" method="post"
                              class="form" role="form">
                            {% csrf_token %}
                            {{ form|bootstrap }}
                            <div class="form-group">
                                <button type="submit" name="Qobuz" value="Qobuz"
                                        class="btn btn-primary btn-lg">
                                    Qobuz
                                </button>
                                <button type="submit" name="Tidal" value="Tidal"
                                        class="btn btn-primary btn-lg">
                                    Tidal
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_scripts %}
    {{ block.super }}

    {% include 'dashboard_search_redirect.html' %}
{% endblock %}
