<div class="col-md-3">
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon"><i class="fa fa-info-circle"></i></span>
            <h5>Queue Pop</h5>

            <div class="buttons">
                <button class="btn btn-link btn-queue-pop">
                    <i class="fa fa-arrow-circle-down"></i>
                    Pop
                </button>
            </div>
        </div>
        <div class="widget-content" style="height: 200px;" id="queue_pop">
        </div>
    </div>
</div>

<script>
    var queuePopUrl = '{% url 'wmqueue:queue_pop' %}';
    var doPopUrl = '{% url 'wmqueue:do_pop' %}';
    var reloadQueuePop = $('#queue_pop').timedReload(queuePopUrl, 30000);

    $('.btn-queue-pop').click(function () {
        $('#queue_pop').html('')
        $.getJSON(doPopUrl, function (response) {
            if (response.success) {
                if (response.message) {
                    alert(response.message);
                }
            } else if (response.error) {
                alert('Error: ' + response.error);
            }
            reloadQueuePop();
            reloadQueueStats();
        });
    })
</script>